.Transparent {
    position: relative;
    width: 100%;
    height: 100%;
    transition-duration: 1s;
}

.Opaque {
    background-color: rgba(0, 0, 0, 0.78);
}

.NavigationMenuPanelOutMainScreen {
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 100%;
    transition-duration: 1s;
    transition-timing-function: ease-in-bounce;
    translate: -100% 0;
}

.NavigationMenuPanelInMainScreen {
    translate: 0% 0;
}
