<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CognitoIdentity" version="4.0.0.10" manuallyInstalled="true" />
  <package id="AWSSDK.CognitoIdentityProvider" version="4.0.1.8" manuallyInstalled="true" />
  <package id="AWSSDK.Core" version="4.0.0.13" />
  <package id="AWSSDK.IoT" version="4.0.0.11" manuallyInstalled="true" />
  <package id="AWSSDK.IotData" version="4.0.0.11" manuallyInstalled="true" />
  <package id="AWSSDK.Lambda" version="4.0.1" manuallyInstalled="true" />
  <package id="AWSSDK.RoboMaker" version="4.0.0.11" manuallyInstalled="true" />
  <package id="AWSSDK.S3" version="4.0.2.1" manuallyInstalled="true" />
  <package id="AWSSDK.S3Control" version="4.0.1.9" manuallyInstalled="true" />
  <package id="AWSSDK.S3Outposts" version="4.0.0.11" manuallyInstalled="true" />
  <package id="AWSSDK.S3Tables" version="4.0.2" manuallyInstalled="true" />
  <package id="AWSSDK.SecurityToken" version="4.0.1.1" />
  <package id="MQTTnet" version="4.3.7.1207" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.5" />
</packages>