<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CognitoIdentity" version="4.0.0.8" manuallyInstalled="true" />
  <package id="AWSSDK.CognitoIdentityProvider" version="4.0.1.6" manuallyInstalled="true" />
  <package id="AWSSDK.CognitoSync" version="4.0.0.8" manuallyInstalled="true" />
  <package id="AWSSDK.Core" version="4.0.0.10" />
  <package id="AWSSDK.EC2" version="4.0.13.3" manuallyInstalled="true" />
  <package id="AWSSDK.IoT" version="4.0.0.8" manuallyInstalled="true" />
  <package id="AWSSDK.Lambda" version="4.0.0.8" manuallyInstalled="true" />
  <package id="AWSSDK.S3" version="4.0.1.6" manuallyInstalled="true" />
  <package id="AWSSDK.SecurityToken" version="4.0.0.8" />
  <package id="MQTTnet" version="4.3.3.952" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.5" />
</packages>