.NavigationMenuPanelOutMainScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: row;
    translate: -100% 0;
    transition-duration: 1s;
    transition-timing-function: ease-in-bounce;
}

.NavigationMenuPanelInMainScreen {
    translate: 0% 0;
}

.Transparent {
    width: 100%;
    height: 100%;
    position: absolute;
    transition-duration: 1s;
}

.Opaque {
    background-color: rgba(0, 0, 0, 0.78);
}

/* Body */
.body {
    flex-grow: 1;
    background-image: none;
    background-color: rgb(0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}

/* Header */
.header {
    flex-grow: 1;
    width: 100%;
    height: 10%;
    flex-direction: row;
}

.menu-panel {
    flex-grow: 1;
    width: 25%;
    height: 100%;
    align-items: center;
}

.menu-button {
    height: 100%;
    width: 50%;
    background-image: none;
    background-color: rgba(0, 0, 0, 0);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    translate: 0 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-left-color: rgb(3, 255, 0);
    border-right-color: rgb(3, 255, 0);
    border-top-color: rgb(3, 255, 0);
    border-bottom-color: rgb(3, 255, 0);
    color: rgb(4, 201, 0);
    -unity-font-definition: url("project://database/Assets/_Fonts/References/VT323-Regular.ttf?fileID=12800000&guid=289b75764e32a4b85b2ee0c973db7173&type=3#VT323-Regular");
    font-size: 30px;
}

.poner-algo {
    flex-grow: 1;
    width: 25%;
    height: 100%;
    justify-content: center;
}

.selected-mode-ui-name {
    color: rgb(3, 255, 0);
    font-size: 40px;
    -unity-text-align: upper-center;
    -unity-font-definition: url("project://database/Assets/_Fonts/References/VT323-Regular.ttf?fileID=12800000&guid=289b75764e32a4b85b2ee0c973db7173&type=3#VT323-Regular");
}

.username-panel {
    flex-grow: 1;
    width: 25%;
    height: 100%;
    -unity-text-align: upper-left;
    justify-content: center;
}

.username {
    -unity-font-style: bold;
    -unity-text-outline-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
    -unity-font-definition: url("project://database/Assets/_Fonts/References/Cinzel-VariableFont_wght.ttf?fileID=12800000&guid=4188192a02890489d82f09c0fa1f97ce&type=3#Cinzel-VariableFont_wght");
    font-size: 30px;
}

.logout-panel {
    flex-grow: 1;
    width: 25%;
    height: 100%;
    justify-content: center;
}

.logout {
    color: rgb(255, 255, 255);
    -unity-text-align: upper-center;
    font-size: 30px;
    -unity-font-style: bold;
    -unity-font-definition: url("project://database/Assets/_Fonts/References/Cinzel-VariableFont_wght.ttf?fileID=12800000&guid=4188192a02890489d82f09c0fa1f97ce&type=3#Cinzel-VariableFont_wght");
}

/* Main */
.main {
    flex-grow: 1;
    width: 100%;
    height: 80%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
}

.main-scroll-view {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
    align-content: center;
    flex-grow: 1;
}

.device-row {
    flex-grow: 0;
    flex-basis: 800px;
    flex-shrink: 0;
    width: 1600px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: stretch;
    align-self: auto;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.device-button {
    height: 60%;
    flex-shrink: 1;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    background-color: rgba(188, 188, 188, 0);
    border-left-color: rgb(3, 255, 0);
    border-right-color: rgb(3, 255, 0);
    border-top-color: rgb(3, 255, 0);
    border-bottom-color: rgb(3, 255, 0);
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    width: 33%;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.device-visual-container {
    flex-grow: 1;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
}

.device-visual-element {
    flex-grow: 1;
    width: 80%;
    height: 80%;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: rgb(12, 53, 17);
    border-left-color: rgb(3, 255, 0);
    border-right-color: rgb(3, 255, 0);
    border-top-color: rgb(3, 255, 0);
    border-bottom-color: rgb(3, 255, 0);
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
}

.device-label-container {
    flex-grow: 1;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
}

.device-label {
    -unity-font-definition: url("project://database/Assets/_Fonts/References/VT323-Regular.ttf?fileID=12800000&guid=289b75764e32a4b85b2ee0c973db7173&type=3#VT323-Regular");
    font-size: 40px;
    -unity-font-style: bold;
    color: rgb(3, 255, 0);
}

/* Footer */
.footer {
    flex-grow: 1;
    width: 100%;
    height: 10%;
    flex-direction: row;
}

.spare-panel {
    flex-grow: 1;
    width: 25%;
    height: 100%;
    justify-content: center;
}

.spare-label {
    color: rgb(255, 255, 255);
    font-size: 20px;
    -unity-text-align: upper-center;
}

/* Subpanels container */
.subpanels-container {
    flex-grow: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 1;
}

/* Navigation menu */
.navigation-menu {
    flex-grow: 1;
    position: relative;
    width: 25%;
    height: 100%;
    translate: 0% 0;
    background-color: rgb(0, 0, 0);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.navigation-header {
    flex-grow: 1;
    width: 100%;
    height: 30%;
}

.navigation-username-container {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
    margin-top: 0;
    margin-left: 0;
}

.navigation-username-label {
    -unity-font-definition: url("project://database/Assets/_Fonts/References/VT323-Regular.ttf?fileID=12800000&guid=289b75764e32a4b85b2ee0c973db7173&type=3#VT323-Regular");
    -unity-font-style: bold;
    font-size: 50px;
    color: rgb(0, 255, 0);
}

.navigation-menu-items {
    flex-grow: 1;
    width: 100%;
    height: 70%;
}

.navigation-menu-row {
    flex-grow: 1;
    flex-direction: row;
}

.navigation-menu-button-container {
    flex-grow: 1;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.navigation-menu-button {
    color: rgb(0, 255, 0);
    -unity-font-definition: url("project://database/Assets/_Fonts/References/VT323-Regular.ttf?fileID=12800000&guid=289b75764e32a4b85b2ee0c973db7173&type=3#VT323-Regular");
    font-size: 40px;
    -unity-font-style: bold;
    background-color: rgba(255, 255, 255, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.navigation-spacer-container {
    flex-grow: 1;
    width: 20%;
    height: 100%;
}

.navigation-spacer {
    flex-grow: 1;
    width: 50%;
    height: 50%;
}

.navigation-settings-button {
    -unity-font-definition: url("project://database/Assets/_Fonts/References/VT323-Regular.ttf?fileID=12800000&guid=289b75764e32a4b85b2ee0c973db7173&type=3#VT323-Regular");
    -unity-font-style: bold;
    font-size: 40px;
    color: rgb(0, 255, 0);
    background-color: rgba(188, 188, 188, 0);
    border-left-color: rgba(149, 149, 149, 0);
    border-right-color: rgba(149, 149, 149, 0);
    border-top-color: rgba(149, 149, 149, 0);
    border-bottom-color: rgba(149, 149, 149, 0);
}

.navigation-label {
    -unity-font-style: bold;
    font-size: 30px;
}

.hide-menu-button {
    width: 75%;
    height: 100%;
    background-color: rgba(188, 188, 188, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}