.body{
    flex-grow: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
}

.header{ width: 100%; height: 10%; }
.main{ width: 100%; height: 80%; }

.appTitlePanel{
    width: 100%; height: 70%;
    align-content: center; align-self: center; align-items: center; justify-content: center;
}

.appTitle{
    -unity-font-definition: url("project://database/Assets/_fonts/references/VT323-Regular.ttf?fileID=12800000&guid=289b75764e32a4b85b2ee0c973db7173&type=3#VT323-Regular");
    -unity-text-align: upper-center;
    color: rgb(0,255,40); font-size: 250px; white-space: normal;
}

.appSubtitlePanel{
    width: 100%; height: 20%;
    align-content: center; align-self: center; align-items: center; justify-content: center;
}

.appSubtitle{
    -unity-font-definition: url("project://database/Assets/_fonts/references/VT323-Regular.ttf?fileID=12800000&guid=289b75764e32a4b85b2ee0c973db7173&type=3#VT323-Regular");
    -unity-text-align: upper-center;
    color: rgb(0,255,40); font-size: 50px; white-space: normal;
}

.buttonsPanel{
    width: 100%; height: 10%;
    flex-direction: row; align-items: center; justify-content: space-around;
    align-self: center; align-content: center;
}

.footer{ width: 100%; height: 10%; }

.generalButton{
    -unity-font-definition: url("project://database/Assets/_fonts/references/VT323-Regular.ttf?fileID=12800000&guid=289b75764e32a4b85b2ee0c973db7173&type=3#VT323-Regular");
    color: rgb(0,0,0); background-color: rgb(0,255,40);
    width: 200px; height: 75px; font-size: 40px;
    -unity-font-style: bold;
    border-width: 2px; border-color: rgb(0,200,0);
    opacity: 0.95;
}
.generalButton:hover{
    background-color: rgb(0,200,0);
    opacity: 1;
}
.generalButton:focus{
    border-color: rgb(255,255,255);
    opacity: 1;
}

.slidingPanels{
    flex-grow: 1; 
    position: absolute;
    width: 100%;
    height: 100%;
}



.scrim{
    flex-grow: 1; width: 100%; height: 100%;
}
.scrimTransparent{
    opacity: 0;
}
.scrimOpaque{ 
    background-color: rgba(0,0,0,0.9);
    opacity: 1; 
}

.subpanels{
    flex-grow: 1; position: absolute;
    width: 50%; height: 60%;
    background-color: rgba(0,0,0,0.9);
    border-width: 2px; border-color: rgb(0,255,40);
    opacity: 0.95;
}
.subpanels:hover{ opacity: 1; }

.subpanelPanelOut{ 
    opacity: 0;
    translate: -100% 35%;
    transition-timing-function: ease-out-cubic;
    transition-duration: 1.5s;
}
.subpanelPanelIn{ 
    opacity: 1;
    display: flex;
    translate: 50% 35%;
    transition-timing-function: ease-out-cubic; 
    transition-duration: 1.5s;
}

.mainMenuPanelOut{
    opacity: 0;
    translate: -100% 0;
    transition-timing-function:  ease-out-cubic;
    transition-duration: .5s;
}
.mainMenuPanelIn{
    opacity: 1;
    display: flex;
    translate: 0;
    transition-timing-function:   ease-out-cubic;
    transition-duration: 1s;
}

.headerSubpanel{
    width: 100%; 
    height: 20%;
    align-items: center; 
    justify-content: center; 
    align-self: center;
    align-content: center;
}

.tittleSubpanel{
    -unity-font-definition: url("project://database/Assets/_fonts/references/VT323-Regular.ttf?fileID=12800000&guid=289b75764e32a4b85b2ee0c973db7173&type=3#VT323-Regular");
    -unity-text-align: upper-center;
    color: rgb(0,255,40); font-size: 100px; white-space: normal;
}

.bodySubpanel{ width: 100%; height: 60%; }

.footerSubpanel{
    width: 100%; height: 20%;
    align-items: center; justify-content: space-around; align-self: center; align-content: center;
}

.inputFields{ width: 60%; height: 50px; font-size: 20px; -unity-font-style: bold; }
.dropdownOptions{ width: 250px; height: 50px; font-size: 20px; -unity-font-style: bold; }

.instructions{
    -unity-font-definition: url("project://database/Assets/_fonts/references/VT323-Regular.ttf?fileID=12800000&guid=289b75764e32a4b85b2ee0c973db7173&type=3#VT323-Regular");
    -unity-text-align: upper-center;
    color: rgb(0,255,40); font-size: 40px; white-space: normal;
}

.arScaraPanelsIn{
    flex-grow: 1;
    position: absolute;
    width: 100%; 
    height: 80%;
    display: flex;
    opacity: 1; 
    flex-direction: row;
    translate: 0 10%;
    transition-timing-function: ease-out-cubic;
    transition-duration: 1.5s;
}
.arScaraPanelsOut{
    flex-grow: 1;
    position: absolute;
    width: 100%;
    height: 80%;
    opacity: 0;
    translate: -100% 10%;
    transition-timing-function: ease-out-cubic;
    transition-duration: 1.5s;
}

/*original*/
.leftPanel{ width: 20%; height: 100%; }
.centerPanel{ width: 60%; height: 100%; }
.rightPanel{ width: 20%; height: 100%; }


.miniPanel{
    width: 100%; height: 50%;
    flex-direction: column; align-items: center; justify-content: center; align-self: center; align-content: center;
}

.headerMiniPanel{
    width: 100%; height: 20%;
    align-items: center; justify-content: center; align-self: center; align-content: center;
}

.bodyMiniPanel{
    width: 100%; height: 60%;
    align-items: center; justify-content: center; align-self: center; align-content: center;
}

.footerMiniPanel{
    width: 100%; height: 20%;
    align-items: center; justify-content: center; align-self: center; align-content: center;
}

.headerMiniPanel2{
    width: 100%; height: 60%;
    align-items: center; justify-content: center; align-self: center; align-content: center;
}

.bodyMiniPanel2{
    width: 100%; height: 20%;
    align-items: center; justify-content: center; align-self: center; align-content: center;
}

.footerMiniPanel2{
    width: 100%; height: 20%;
    align-items: center; justify-content: center; align-self: center; align-content: center;
}




.columnOrientationItems{ 
    flex-direction: column; 
}
.rowOrientationItems{
    flex-direction: row;
}
.centerItemsCompletely{
    align-items: center; 
    justify-content: center;
    align-self: center;
    align-content: center;
}

.showItem{ display: flex; }
.hideItem{ display: none; }

.nameMiniPanel{
    -unity-font-definition: url("project://database/Assets/_fonts/references/VT323-Regular.ttf?fileID=12800000&guid=289b75764e32a4b85b2ee0c973db7173&type=3#VT323-Regular");
    -unity-text-align: upper-center;
    color: rgb(0,255,40); font-size: 50px; white-space: normal;
}

.textMiniPanelLabel{
    -unity-font-definition: url("project://database/Assets/_fonts/references/VT323-Regular.ttf?fileID=12800000&guid=289b75764e32a4b85b2ee0c973db7173&type=3#VT323-Regular");
    -unity-text-align: upper-center;
    color: rgb(0,255,40); font-size: 50px; white-space: normal;
}


.backgroundTransparent{
    background-color: rgba(0,0,0,0);
}
.backgroundOpaque{
    background-color: rgba(0,0,0,255);

}

 .passthrough {
  -unity-picking-mode: ignore;
}